<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joaop.carcontrolapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:launchMode="singleInstance" />
        <activity
            android:name=".AirConditioner"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Localize"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Settings"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Controls"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Status"
            android:launchMode="singleInstance" />
        <activity
            android:name=".AjudaMenu"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AjudaMain"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AjudaAC"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AjudaControls"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AjudaLocalize"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AjudaStatus"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Alertas"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".SideMenu"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>